.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
data
figures
fractures.Rproj
fractures_files
manuscript.docx
Lorenz-etal-2022-SD30.pdf
coscmap.pdf
coscmap.png
logging.pdf
logging_nolgend.pdf
logging_nolgend.png
scholar.bib
fractures_cache
cosc-sd
qpcr.xlsx
